@import "settings";
@import "foundation";


/* HOMEPAGE */

.wine-forecast {
    text-align: center;
    font-size: 4em;
    font-family: 'Great Vibes', cursive;
    padding-top: 10px;    
}



.app-desc {
    text-align: center;
    margin-top: 30px;
    font-family: 'helvetica', sans-serif; 
    font-size: 20px;
    }



.first-col {
    background-color: purple;
    min-height: 100px;
    font-family: sans-serif;
    font-size: 24px;
}

.first-col p{
margin: auto;
}

.second-col{
background-color: mediumvioletred;
    min-height: 100px;
}

.button-round {
    font-size: 1.4em;
    background-color: (28, 70,140);
}

.intro-wine-choice{
    font-size: 25px;
    
}

.button-wine-option {
    background-color: forestgreen;
    text-align: center;
    color:aliceblue;
    font-size: 20px;
    
}

#homepage {
    background-image: url(../img/wine_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

/* App Page*/

.app-body{
    background-color:white;
    
}

.weather-canvas{
position: relative;
}

.current-weather {
    float: right;
    position: absolute;
}

.wine-description{
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
}

.current-temp{
     font-size: 50px;
}

.today-high-low{
}


.current-outside{
}

#myCanvas{
    width: 100%;
    max-height: 600px;
    min-height: 300px;
}

.five-day{
    font-family: sans-serif;
    background-color: (149,82,81,.5);
    margin-top: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.date{
}

.condition{

}



.width{
    max-width: 800px;
    max-height: 800px;
}

.five-title{
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 800px;
    max-height: 800px;
    
}
