@import "settings";
@import "foundation";


/* HOMEPAGE */



.wine-forecast {
    text-align: center;
    font-size: 3em;
    font-family: 'helvetica neue', sans-serif;  
    padding-top: 10px;    
}



.enter-zip {
    text-align: center;
        margin-top: 30px;
        font-family: 'helvetica', sans-serif; 
        font-size: 30px;
    }



.first-col {
    background-color: purple;
    min-height: 100px;
    font-family: sans-serif;
    font-size: 24px;
}

.first-col p{
margin: auto;
}

.second-col{
background-color: mediumvioletred;
    min-height: 100px;
}

.button-round {
    font-size: 1.4em;
    background-color: (28, 70,140);
}

#homepage {
    background-image: url(../../../img/home-page.svg);
    background-repeat: no-repeat;
    background-size: cover;

}

/* App Page*/

.app-body{
    background-color:white;
}
.current-weather {
    background-color: skyblue;
}

.wine-description{
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
}

.current-temp{
     font-size: 50px;
}

.today-high-low{
}


.current-outside{
}

#myCanvas{
    width: 100%;
    max-height: 600px;
    min-height: 300px;
}

.five-day{
    font-family: sans-serif;
    background-color: (149,82,81,.5);
    margin-top: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.date{
    font-weight: bold;
}
