@import "settings";
@import "foundation";


/* HOMEPAGE */

.wine-forecast {
    text-align: center;
    font-size: 4em;
    font-family: 'Great Vibes', cursive;
    padding-top: 10px;    
    color: darkblue;
}



.app-desc {
    text-align: center;
    margin-top: 12px;
    font-family: 'helvetica', sans-serif; 
    font-size: 10px;
    color: darkblue;
    }



.first-col {
    background-color: purple;
    min-height: 100px;
    font-family: sans-serif;
    font-size: 24px;
}

.first-col p{
margin: auto;
}

.second-col{
background-color: mediumvioletred;
    min-height: 100px;
}
.enter-location{

}
.button-round {
    font-size: 1.4em;
    background-color: darkblue;
}

.intro-wine-choice{
    font-size: 25px;
    color: darkblue;

    
}

.button-wine-option {
    background-color: darkblue;
    text-align: center;
    color:aliceblue;
    font-size: 20px;
    shape-margin: 10px;
    padding-bottom: 50 px;
}

#homepage {
    background-image: url(../img/wine_background_transparency.svg);
    background-repeat: repeat;
    background-size: cover;
   

}

/* App Page*/








.weather-canvas{
position: relative;
background-color: white;
}

.current-weather {
    float: right;
    position: absolute;
}

.wine-description{
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    text-align: justify;
}

.current-temp{
     font-size: 50px;
}

.today-high-low{
}


.current-outside{
}

#myCanvas{
    width: 100%;
    max-height: 600px;
    min-height: 300px;
    background-color: white;
    background-image: url(../img/canvas_weather.svg);
    background-repeat:no-repeat;
    background-size: cover;
}

.five-day{
    font-family: sans-serif;
    background-color: (149,82,81,.5);
    margin-top: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.date{
}

.condition{

}



.width{
    max-width: 800px;
    max-height: 800px;
}

.five-title{
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 800px;
    max-height: 800px;
    background-color:lightblue;
    /* opacity: 0.2;
    filter: alpha(opacity=20); For IE8 and earlier */
    
.wine-glass{
   height: auto; 
    width: auto; 
    max-width: 40px; 
    max-height: 10px;
    
    }    
    
}

.app-body{
    
    
}
